
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	font-family: Arial;
}

.navbar-brand {
	color: #fff !important;
	font-weight: 600;
}

.sidebar {
	margin-top: 2px !important;
}

#page-wrapper {
	background-color: #FAFAFA !important;
}

.nav li a {
	color: #337ab7;
	font-size: 15px;
}

.panel-primary {
	border-color: #d3e0e9;
}

table.dataTable thead th, table.dataTable.no-footer {
	border-bottom: 1px solid #d3e0e9 !important;
}

a#create-form {
	margin-left: 15px !important;
}

.nav li a.nav-href {
	color: #fff !important;
}

.nav li a.nav-href:hover {
	color: red !important;
	background-color: #101010;
}

.delete-form {
	float: right;
	background: none;
	border: none;
}
.button-delete {
	height: 20px;
    border-radius: 30px;
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    transition: all 1s ease;
}

.form-image {
	height: 30px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    transition: all 1s ease;
}

.form-image:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    transform:scale(1.1);
}

.button-delete:hover {
	-webkit-transform:scale(1.3); /* Safari and Chrome */
    transform:scale(1.3);
}

.table-form tbody td {
	padding: 3px 10px !important;
}